body {
	font-size: 9pt;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 120%;
}
.navbar, #intro {
	display: none;
}
table {
	border-collapse: collapse;
}
table tr td, table tr th {
	border: 0.1mm solid black;
	margin: 1mm;
}